@import 'prismjs/themes/prism-dark.css'

.notifyjs-instructions-base
  white-space: nowrap
  background-color: #d9edf7
  color: #036
  padding: 5px
  border-radius: 4px
  text-shadow: none
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  line-height: 1.4em
  font-size: 22px
  border: 1px solid #bce8f1
  font-weight: 400
  .clearfix
    clear: both

.actionable .em-blue
  cursor: pointer;
