// Bespoke Classes: https://github.com/markdalgleish/bespoke-classes
// Stylus: http://learnboost.github.io/stylus

@import 'normalizecss/normalize.css'
@import 'animate.css/animate.min.css'

/*
 * variables
 */
$background = #111
$serif = didot, times new roman, serif
$sans-serif = "Droid Sans", futura, helvetica, arial, arial, sans-serif
$script = "Courgette", "EB Garamond", Georgia, cursive
$monospace = prestige elite std, consolas, courier new, monospace
$emdash = '\2014'

body
  font: 18px/1.5 $sans-serif
  font-weight:100
  color: rgba(255, 255, 255, 0.95)
  text-shadow: 0 0 2px black, 0 0 40px black

h1 {
  font-size: 50px;
  margin: 0 auto;
  font-weight: 900;
  margin-bottom:10px;
}

h2 {
  font-size: 36px;
  margin: 0 auto;
  font-weight: 300;
  margin-bottom:5px;
}

h3 {
  font-size: 28px;
  margin: 0 auto;
  font-weight: 200;
}

h4 {
  font-size: 22px;
  margin: 0 auto;
  font-weight: 200;
}
h5 {
  font-size: 18px;
  margin: 0 auto;
  font-weight: 200;
}

ul,ol
  font-size: 32px
  font-weight: 400
  &.noprefix
    list-style: none
    ol,ul
      list-style: none
      li
        margin-left:0
        &::before
          content:none
    li
      margin-left:0
      &::before
        content:none
  ul
    margin-left: 30px
    li
      margin-bottom: 0
      line-height: 1.4em
  ol
    list-style-type: lower-roman
    margin-left: 30px
    li
      margin-bottom: 0
      line-height: 1.4em
li
  margin-bottom: 12px
  text-align: left
  width: 100%
  margin-left: 0.5em
blockquote
  text-align:left

td,th
  padding:10px
  border: 1px solid #ccc
th
  background-color:#333
td
  background-color: #444
  text-shadow:none
pre
  border-radius: 8px
  padding:10px
  text-align:left
  .em-red, .em-yellow,.em-green,.em-blue,.em-orange
      margin: 5px 0

.bespoke-parent
  text-size-adjust: auto
  background: $background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  transition: background 1s ease
  background-position: 50% 50%

.bespoke-scale-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  .bespoke-active
    pointer-events: auto

.bespoke-slide
  width: 100%
  height: 100%
  position: absolute
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &.x-gif-finished .box.wait-for-gif
    opacity: 1

  x-gif[stopped] + .wait-for-gif
    opacity: 1

.bespoke-inactive
  opacity: 0
  pointer-events: none

.bespoke-bullet-inactive
  opacity: 0
  pointer-events: none

.bespoke-backdrop
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  opacity: 0

.bespoke-backdrop-active
  opacity: 1

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: .3vw

.bespoke-progress-bar
  position: absolute
  height: 100%
  background: #ccc
  transition: width .6s ease

/*
 * backgrounds
 */
// http://lea.verou.me/css3patterns/#
// http://css3pie.com/demos/gradient-patterns/
.carbonfiber
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px
  background-color: #282828
  background-size: 16px 16px
.carbon
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424)
  background-color: #131313
  background-size: 20px 20px
.seigaiha
  background-color: silver
  background-image: radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent)
  background-size: 100px 50px
.cubes
  background-color: #556
  background-image: linear-gradient(30deg, #444455 12%, transparent 12.5%, transparent 87%, #444455 87.5%, #444455), linear-gradient(150deg, #444455 12%, transparent 12.5%, transparent 87%, #444455 87.5%, #444455), linear-gradient(30deg, #444455 12%, transparent 12.5%, transparent 87%, #444455 87.5%, #444455), linear-gradient(150deg, #444455 12%, transparent 12.5%, transparent 87%, #444455 87.5%, #444455), linear-gradient(60deg, #9999aa 25%, transparent 25.5%, transparent 75%, #9999aa 75%, #9999aa), linear-gradient(60deg, #9999aa 25%, transparent 25.5%, transparent 75%, #9999aa 75%, #9999aa)
  background-size: 80px 140px
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px
.paper
  background-color: #fff
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eeeeee 0.1em, transparent 0.1em)
  background-size: 100% 1.2em
.honeycomb
  background: radial-gradient(circle farthest-side at 0% 50%, #ffbb11 23.5%, rgba(240, 166, 17, 0) 0) 21px 30px, radial-gradient(circle farthest-side at 0% 50%, #bb7711 24%, rgba(240, 166, 17, 0) 0) 19px 30px, linear-gradient(#ffbb11 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #ffbb11 0) 0 0, linear-gradient(150deg, #ffbb11 24%, #bb7711 0, #bb7711 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #bb7711 0, #bb7711 76%, #ffbb11 0) 0 0, linear-gradient(30deg, #ffbb11 24%, #bb7711 0, #bb7711 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #bb7711 0, #bb7711 76%, #ffbb11 0) 0 0, linear-gradient(90deg, #bb7711 2%, #ffbb11 0, #ffbb11 98%, #bb7711 0%) 0 0 #ffbb11
  background-size: 40px 60px
.wave
  background: linear-gradient(white 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, white 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, white 50%, rgba(255, 255, 255, 0) 0) 55px 0 #4488bb
  background-size: 110px 200px
  background-repeat: repeat-x
.blueprint
  background-color: #269
  background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px)
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px
  background-position: (-2px) -2px, -2px -2px, -1px -1px, -1px -1px
.shippo
  background-color: #def
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%), radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%)
  background-size: 80px 80px
  background-position: 0 0, 40px 40px
// http://www.transparenttextures.com

/*
you will need to copy bespoke-theme-atomantic/lib/patterns/* to your dist/images/patterns/*
you can do this with gulp or just one time after installing the theme
*/
.blackthread
  background-image: url("images/patterns/black-thread-light.png")
.brickwalldark
  background-image: url("images/patterns/brick-wall-dark.png")
.brickwall
  background-image: url("images/patterns/brick-wall.png")
.diagmonds
  background-image: url("images/patterns/diagmonds-light.png")
.diamondupholstery
  background-image: url("images/patterns/diamond-upholstery.png")
.gplay
  background-image: url("images/patterns/gplay.png")
.gravel
  background-image: url("images/patterns/gravel.png")
.oldmath
  background-image: url("images/patterns/old-mathematics.png")
.purtywood
  background-image: url("images/patterns/purty-wood.png")
.bullseyes
  background-image: url("images/patterns/strange-bullseyes.png")
.escheresque
  background-image: url("images/patterns/escheresque.png")
.straws
  background-image: url("images/patterns/straws.png")
.littleboxes
  background-image: url("images/patterns/littleboxes.png")
.woodtilecolor
  background-image: url("images/patterns/tileable-wood-colored.png")
.woodtile
  background-image: url("images/patterns/tileable-wood.png")
.treebark
  background-image: url("images/patterns/tree-bark.png")
.washi
  background-image: url("images/patterns/washi.png")
.wood-pattern
  background-image: url("images/patterns/wood-pattern.png")
.xv
  background-image: url("images/patterns/xv.png")

/*
 * background modifiers
 */
section > img
  position: absolute
  margin: auto
  display: flex
.fullscreen
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
/* .fullscreen img classes */
.fill
  width: 100%
  height: 100%
.fillh
  height: 100%
  left:-50%
  right:-50%
  position:absolute
  margin:auto
.fillw
  width: 100%
  height: auto
.fillwb
  width: 100%
  height: auto
  bottom: 0

section
  x-gif
    position:absolute
    top:0
    left:0
/*
 * boxed content
 */
.box
  position:relative
  text-align:center
  margin:auto
  max-width:100%
  border-radius: 10px
  padding: 25px
  background-color: rgba(0, 0, 0, 0.6)
  ul,ol
    margin: 12px 20px
    padding:0
  li
    &::before
      left: 0.5em
  &.wait-for-gif
    opacity: 0
  &.bottom
    bottom:5%
    margin-bottom: 0
  &.top
    top: 5%
    margin-top: 0
  &.left
    left: 5%
    margin-left:0
  &.right
    right: 5%
    margin-right: 0
  &.transparent
    pre
      display:inline-block

.credit
  position: absolute
  bottom: 10px
  right: 10px

/*
 * links
 */
a
  color: #9cf
  text-decoration: none
a:after
  content: '  ➭'
  font-size: 24px
  line-height: 24px
  vertical-align: middle
a.back
  &:before
    content: '⬅  '
    font-size: 24px
    line-height: 24px
    vertical-align: middle
  &:after
    content: ''
    font-size: 24px
    line-height: 24px
    vertical-align: middle

/*
 * people
 */
$me-height = 72px
.person
  height: $me-height
  width: $me-height
  background-repeat: no-repeat
  background-size: $me-height
  background-position: 50% 50%
  border-radius: 50%
  box-shadow: 0 0 0 2px black, 0 0 0 4px #9cf
  margin: 0 16px
  &.center
    margin: 15px auto
.me
  @extend .person
  background-image: url("images/me.jpg")


/*
 * Emphasis
 */
.em
  padding: 5px 10px
  margin: 5px 2px
  border: 1px solid transparent
  border-radius: 4px
  text-shadow: none
  font-weight: 300
  display: inline-block
  line-height: 1.2em
  font-family: monospace
  font-style: normal
.em-bold
  @extend .em
  font-weight: bold
.em-green
  @extend .em
  color: #468847
  background-color: #dff0d8
  border-color: #d6e9c6
.em-yellow
  @extend .em
  color: #8a6d3b
  background-color: #fcf8e3
  border-color: #faebcc
.em-blue
  @extend .em
  color: #3a87ad
  background-color: #d9edf7
  border-color: #bce8f1
.em-orange
  @extend .em
  color: #f85
  background-color: #fcf8e3
  border-color: #fbeed5
.em-red
  @extend .em
  color: #b94a48
  background-color: #f2dede
  border-color: #eed3d7


.mid
  font-size: 28px
  font-style: italic
  display: flex
  width: 100%
  margin:10px auto
  align-items: center
  &::before,
  &::after
    content: ''
    flex-grow: 1
    display: block
    border-top: dotted 1px rgba(white, 0.3)
  &::before
    margin-right: 16px
  &::after
    margin-left: 16px
  &.big
    font-size: 74px

.hide
  display:none


.blur1
  filter: blur(1px)
.blur2
  filter: blur(2px)
.blur3
  filter: blur(3px)
.blur4
  filter: blur(3px)
.opac20
  opacity: 0.2
.opac50
  opacity: 0.5
.opac80
  opacity: 0.8
.transparent
  background-color: rgba(0, 0, 0, 0)
.white
  background-color: #fff
  &.box
    color: #333;
    text-shadow:none;
.red
  background-color: #b94a48
.black
  background-color: #000
.grey
  background-color: #cfcfcf
  &.box
    color: #333;
.blue
  background-color: #004e8a
.midnight
  background-color: #001F3F
.jellybean
  background-color: #288895
.cocoa
  background-color: #472f00


/* text helpers */
.nope
  text-decoration: line-through
  opacity: .7

p.code
  margin:0
  font-family: $monospace

/* code that you should not do */
strike
  code[class*="language-"]
    text-shadow: 0 1px blue

/*
  add span.rotate then press 'r'
  press 'r' again to reset the animation
  press again to replay
*/

.rotate, .spin
  display: inline-block
  transform: none
.rotate.on
  transition-delay: 0.5s
  transition-duration: 1s
  transform: rotate(15deg)
.spin.on
  transition-delay: 1.5s
  transition-duration: 1s
  transform: rotate(360deg)


span.animate
  display: inline-block

/* allow manual animation delays */
.animate
  &.delay1
    animation-delay: 1s
  &.delay2
    animation-delay: 2s
  &.delay3
    animation-delay: 3s
  &.delay4
    animation-delay: 4s
  &.delay5
    animation-delay: 5s
  &.delay6
    animation-delay: 6s
  &.delay7
    animation-delay: 7s
  &.delay8
    animation-delay: 8s

@keyframes cursor
  0%
    opacity: 0
  40%
    opacity: 0
  50%
    opacity: 1
  90%
    opacity: 1
  100%
    opacity: 0
/* blinking cursor */
.cursor:after
  content:"_"
  opacity: 0
  animation: cursor 1s infinite

/*box zooms*/

.z120
  zoom:120%

.z150
  zoom:150%

.z200
  zoom:200%
