
.black
  background-color: #000
.blue
  background-color: #004e8a
.lightblue
  background-color: #3a87ad
.cocoa
  background-color: #472f00
.green
  background-color: #468847
.grey
  background-color: #cfcfcf
  &.box
    color: #333;
.jellybean
  background-color: #288895
.midnight
  background-color: #001F3F
.orange
  background-color: #f85
.red
  background-color: #b94a48
.transparent
  background-color: rgba(0, 0, 0, 0)
.white
  background-color: #fff
  &.box
    color: #333
    text-shadow:none
  a
    text-shadow: none
    color: #369
.yellow
  background-color: #8a6d3b
