.notifyjs-instructions-base
  white-space: nowrap
  background-color: #d9edf7
  color: #036
  padding: 5px
  border-radius: 4px
  text-shadow: none
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  line-height: 1.4em
  font-size: 22px
  border: 1px solid #bce8f1
  font-weight: 400
  .clearfix
    clear: both

.notifyjs-container a
  color: #369

.notifyjs-instructions-orange
  @extend .notifyjs-instructions-base
  color: #f85
  background-color: #fcf8e3
  border-color: #fbeed5
.notifyjs-instructions-red
  @extend .notifyjs-instructions-base
  color: #b94a48
  background-color: #f2dede
  border-color: #eed3d7
